<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoji.myapplist" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NameScore"
            android:label="@string/title_activity_name_score"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".FileData"
            android:label="@string/title_activity_file_data" >
        </activity>
        <activity
            android:name=".Database"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name=".WebApi"
            android:label="@string/title_activity_web_api" >
        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.shoji.myapplist.mycontentprovider"
            android:exported="false" >
        </provider>
    </application>

</manifest>
